
       @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
        body
        {
            font-family: 'inter',sans-serif ;
            background-image: radial-gradient(circle at 7.92% 38.72%, #a1ffc0 0, #8dffc2 12.5%, #74fcc5 25%, #55f8c9 37.5%, #1ef3cd 50%, #00eed2 62.5%, #00e9d8 75%, #00e5df 87.5%, #00e0e7 100%);
        }
        main
        {
            margin: 2em auto;
        }
        .container
        {
            width:40%;
            margin:3% auto;
            padding: 50px;
            animation-duration: 0.8s;
            animation-name: slidein; 
        }

        @keyframes slidein {

            from {
            
              margin-left:0%;
              opacity:0;
           
            }

            to {
              margin-left: 30%;
              opacity: 1;
          
            }
          } 

        .container h1
        {
            margin-bottom: 50px;
        }
        button
        {
            width:50%;
            margin:1em auto;
        }
        @media (max-width:500px)
        {
            .container
            {
                width:auto;
                margin:1em 1em;
                padding: 50px;
            }
            .container h1
            {
                margin-bottom: 20px;
            }
            
        }

        .timer{
            height: 1em;
            margin: 1em;
        }
        .innertimer
        {
            height: 0.5em;
            border-radius: 10px;
            float:left;
            animation: timer 3s;
            width: 100%;
            background: #0086e5;
        }
        .form-check
        {
            padding:1em;
            background: #fff;
            border:2px #ddd solid;
            text-align:left;
            margin:1em auto
        }
        .fa
        {
            font-size: 7em;
            margin: 0.05em auto;
            color:#0a8a43
        }
        .hide
        {
            display: none;
        }
        @keyframes timer {
        
        0%
        {
            width: 100%;
            background: #0086e5;
        }
        25%
        {
            background: #45c5b0;
        }
        50%
        {
            background: #62ed53;
        }
        75%
        {
            background: #e6e143;
        }
        100%
        {
            width: 0%;
            background: #e04c2a;
        }
        }
        @keyframe reset
        {
            0%
            {
                width: 50%;
            }

            100%
            {
                width:100%
            }
        }
        


